<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games of Chance</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #E8EDF2;
            font-family: Arial, sans-serif;
        }
        #container {
            width: 80%;
            margin: 0 auto;
            padding-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-radius: 20px;
            margin-top: 20px;
        }
        #header {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            padding: 0;
        }
        #logo {
            font-weight: bold;
            font-size: 24px;
            color: black;
        }
        #logo:hover{
            color:#1463b8;
        }
        #buttons {
            display: flex;
            align-items: center;
            position: relative;
            margin-left: auto; 
        }
       
        .outButton, .logButton, .regButton {
            display: inline-block;
            padding: 12px 24px;
            text-decoration: none;
            border-radius: 9px;
            text-align: center;
            font-size: 18px;
        }
        .regButton {
            background-color: #007bff;
            color: white;
            margin-right: 20px;
        }
        .regButton:hover {
            background-color: #1463b8;
        }
        .logButton, .outButton {
            background-color: transparent;
            border: none;
            color: black;
        }
        .logButton:hover, .outButton:hover {
            background-color: transparent;
            color: #007bff;
        }
        #dice-container {
            width: 200px;
            height: 200px;
            background-color: #007bff;
            border: 8px solid #0056b3;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-top: 100px; 
        }
        .dice-dot {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: white;
            margin: 10px;
            position: absolute; 
        }
        .retry-button {
            display: inline-block;
            padding: 20px 40px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 12px;
            margin-top: 150px;
            font-size: 24px;
            border: none;
            cursor: pointer;
            transition: all 0.3s;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            white-space: nowrap;

        }
        .retry-button:hover {
            background-color: #1463b8;
        }
        #previous-results {
            position: fixed;
            bottom: 10px;
            left: 10px;
            background-color: white;
            border: 1px solid black;
            padding: 10px;
            border-radius: 19px;
            border: 2px solid #0056b3;
        }
        #li {
            color: red;
            list-style-type: decimal;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="header">
            <a href="{{ path('games') }}" id="logo">{{ 'Games of Chance'|trans }}</a>
            <div id="buttons">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="outButton">{{ 'Log out'|trans }}</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="logButton">{{ 'Log in'|trans }}</a>
                    <a href="{{ path('app_register') }}" class="regButton">{{ 'Register'|trans }}</a>
                {% endif %}
            </div>
        </div>
        <h2>{{'Roll the Dice'|trans}}</h2>
        <div id="dice-container">
            {% for position in positions[diceResult] %}
                <div class="dice-dot" style="top: {{ position.top }}px; left: {{ position.left }}px;"></div>
            {% endfor %}
        </div>
        <h3>{{'Your result'|trans}} {{ diceResult }}</h3>
        <a href="{{ path('games_roll_dice') }}" class="retry-button"><span>{{'Roll Dice'|trans}}</span></a>
        
        {% if app.user %}
            <div id="previous-results">
                <h3 style="color: #007bff;">{{'Previous 10 results'|trans}}</h3>
                <ul id="results-list">
                    {% set results = allResults|slice(0, 10)|reverse %}
                    {% for result in results %}
                        <li id="li">{{ result.getRoll }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div id="previous-results">
                <h3 style="color: #FF6600;">{{'Previous 10 results'|trans}}</h3>
                <p style="color: red;">{{'This section is available only for authorized users.'|trans}}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>

